.navbar {
    background-color: #333 !important; 
}
.body{
    min-height: 1500px;
}
.jumbotron{
    padding-top: 2rem;
    background-color: #e2edff;
}
/* .container{
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
} */
.footer {
    background-color: #333; 
    color: white; 
    padding: 15px; 
    text-align: center; 
}
.sosmed a {
    margin-right: 10px; 
    text-decoration: none; 
}

.sosmed a:hover {
    opacity: 0.8; 
}
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.06);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 
.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }